<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<div>
			<div>
				<h1>
					header
				</h1>
			</div>
			<div>
				<h1>
					{{{body}}}
				</h1>
			</div>
			<div>
				<h1>
					footer
				</h1>
			</div>
		</div>
	</body>
</html>